.vscode/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.egg-info/
dist/
build/
.eggs/
.env
.venv
venv/
ENV/

.ipynb_checkpoints/

*.o
*.out
*.exe
*.a
*.dll
*.so
*.dylib

CMakeFiles/
CMakeCache.txt
cmake-build-*/

.DS_Store
Thumbs.db